<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="dbconnection" connectionString="Data Source=DESKTOP-G37NHI0\SQLEXPRESS;Initial Catalog=Employee_Management;Integrated Security=True" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>